apiVersion: v1
kind: Namespace
metadata:
  name: cloudflare-tunnel
---
# This credentials secret allows cloudflared to authenticate itself
# to the Cloudflare infrastructure.
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-secrets
  namespace: cloudflare-tunnel
  labels:
    app.kubernetes.io/instance: cloudflare-tunnel
    app.kubernetes.io/name: cloudflare-tunnel
stringData:
  credentials.json: |-
    {
      "AccountTag": {{ .Values.cloudflare.account | quote }},
      "TunnelID": {{ .Values.cloudflare.tunnelId | quote }},
      "TunnelSecret": {{ .Values.cloudflare.secret | quote }}
    }
